#wpr-dialog-wrap {
	position: absolute;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.50);
	z-index: 999999;

	.dialog {
		top: 17.6vh;
		position: relative;
		width: 90%;
		max-width: 320px;
		margin: 100px auto 0;
		text-align: center;
		background-color: #fff;
		box-shadow: 0 0 20px rgba(0, 0, 0, .2);
		border-radius: 3px;
		overflow: hidden;

		header {
			padding: 10px 12px;
			background-color: #f6f7f9;
			border-bottom: 1px solid #e5e5e5;

			h3 {
				font-size: 14px;
				font-weight: bold;
				margin: 0;
				color: #555;
				display: inline-block;
			}

			.fa-close {
				float: right;
				color: #c4c5c7;
				cursor: pointer;
				transition: all .5s ease;
				padding: 0 2px;
				border-radius: 1px;

				&:hover {
					color: #b9b9b9;
				}

				&:active {
					box-shadow: 0 0 5px #673AB7;
					color: #a2a2a2;
				}
			}
		}

		.dialog-msg {
			padding: 10px 12px;

			p {
				margin: 0;
				font-size: 15px;
				color: #333;
			}
		}

		footer {
			border-top: 1px solid #e5e5e5;
			padding: 8px 10px;

			.controls {
				direction: rtl;

				.button {
					padding: 5px 15px;
					border-radius: 3px;
				}
			}
		}
	}

	.button {
		cursor: pointer;
		background-color: rgb(248, 248, 248);
		border: 1px solid rgba(204, 204, 204, 0.5);
		color: #5D5D5D;
	}
}